*/
/*********************************************************************
 LOADS IN A NICE RESET TO ENSURE ALL BROWSERS HAVE THE SAME BASE STYLES
*********************************************************************/
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');

/*********************************************************************
  YOUR MOBILE/BASE STYLES GO HERE
*********************************************************************/
* {
    box-sizing: border-box;
}

html, body {
    /* Sets default font-size to 16px, ensuring 1em = 16px; */
    font-size: 16px;
}

.container {
    max-width: 800px;
    padding: 5px;
    margin: 0 auto;
}

.image.container {
    max-width: 1200px;
}

img {
    width: 100%;
}

p {
    line-height: 1.3em;
}

#interacive input {
    width: 100%
}

#interactive .fruit {
    margin-bottom: 10px
}

/*********************************************************************
  YOUR TABLET/DESKTOP STYLES GO HERE
*********************************************************************/
@media(min-width: 681px) {
    #interactive {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #interactive .fruit {
        flex-basis: 45;
    }

    /* Any adjustments for tablets and larger go here.
    Note these styles will be applied to anything 681px or larger -- so tablet AND desktop */
    /*********************************************************************
  YOUR DESKTOP-ONLY STYLES GO HERE
*********************************************************************/
    @media(min-width: 729px) {

        /* Any adjustments for desktop and larger go here.
Note these styles will be applied to anything 729px or larger -- so desktop */
        #interactive .fruit {
            flex-basis: 30%;
        }
    }